/*
 Defines styling for the home page components
*/
/* 
    Created on : Feb. 4, 2020, 9:28:27 p.m.
    Author     : Saad,Shruti
*/
.ui.page.dimmer {
    position: fixed;
    display: none;
    z-index: 777;
    left: 100%;
    margin-left: -257.42px;


}

.genre{
    color:black;
    padding:10px;
}
body {
    background: #eee;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.nav {
    margin: 0 auto 0 10px;

}
.navbar-brand{
padding: 0 !important;
padding-left: 20px !important;
padding-bottom: 10px !important;
}
.brand-img-style {
    height: 100%;
    width: auto;
}

.item1{
    background-color:  #D77A61 !important;
}
.item2{
    background-color: #D77A61 !important;
}
.item3{
    background-color:  #D77A61 !important;
}
.searchBarDiv{
    text-align: center;
    -webkit-transform-style: '';
    transform-style: '';
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.ui.dimmer{
  background-color: rgba(0,0,0,0.2);
}
.visible{
    visibility:visible;
}
.swiper-container {
    width: 100%;
    height: 80%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* Divs inside flex-container div
 sources:https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_nowrap8*/
.flex-container > div {
    width: 400px;
    margin: 10px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding:3%;
}
/*Div containing book description,author,and shop now button in recently added books carousel*/
.sliderTextContent{
    text-align: left;
    float:left;
    width:60% !important;

}
/*Styles div indicating recently added books in carousel*/
.recentlyAddedDiv{
    border-style: solid;
    border-color: #545454;
    border-width: 2px; 
}

/*
Hides description for recently added book carousel when screen size gets smaller
sources:https://stackoverflow.com/questions/21323818/css-define-media-query-within-one-class
*/
@media only screen and (max-width: 905px) {

    .sliderDescription{display:none;}
    .sliderShopNow{display:none;}
    .sliderShopNowHidden{display:block !important;}

}
/*
Hidden button that appears when screen becomes smaller
*/
.sliderShopNowHidden{
    display:none;
}
.searchBarDiv{
    text-align: center;
}
.searchButton{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.searchBar{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.parentDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}
.survey{
    background-color:white !important;
    padding: 20px;
    padding-bottom: 40px !important;
    height:20% !important;
    text-align:left;
}
.invisible{
    position: absolute;
    visibility:hidden;
}
.bookFormatBtn:hover {
    background-color: #D77A61;
    color: white;
}
.bookFormatBtn{
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5% 2%;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 2px solid #D77A61;
}

.ui-scrollpanel-content{
    width:inherit !important;
    position: relative !important;

}
.ui-scrollpanel-content p{
    padding: 20px !important;

}
.ui-scrollpanel-content img{
    width:400px !important;
}
.ui-scrollpanel img{
    width:300px !important;
}
.ui-scrollpanel-content iframe{
    width:300px !important;
    height:300px !important;
}
.ui-scrollpanel iframe{
    width:300px !important;
    height:300px !important;
}
.ui-scrollpanel-container{
    width:inherit !important;

}
.genre{
    color:black;
    padding:10px;
}

