
/* 
    Created on : Apr. 3, 2020, 8:33:27 a.m.
    Author     : cawri
*/

.reportsModal{
    position: fixed;
    top: 10%;
    left: 10%;
    padding-top: 0px;
    height: 80%;
    width: 80%;
    text-align: center;
    font-size: 18px;
    visibility: hidden;
    display: flex !important;
    z-index: 2;
    display: grid;
    
}
.reportsContent{
    height: 100%;
    margin: 0;
    width:100%;
    max-width:100%;
    overflow-y: scroll;
}

.reportsClose{
    color:black !important;
}