.gallery {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: wheat;
}

.upper {
    margin-right: 30px;
    padding-bottom: 20px;
}

.middle {
    margin: auto;
    margin-bottom: 30px;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.bot {
    margin: auto;
    width: 30%;
}

.recommendations {
    background-color: palevioletred;
}
